<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Vacas</title>
</head>
<body>
    <h1>Listado de Vacas</h1>
    
    <table border="1">
        <thead> 
            <tr>
                <th>Id</th>
                <th>Edad</th>
                <th>Código</th>
                <th>Longitud</th>
                <th>Circunferencia Torácica</th>
                <th>Peso Estimado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="vaca: ${cows}">
                <td th:text="${vaca.id}"></td>
                <td th:text="${vaca.age}"></td>
                <td th:text="${vaca.code}"></td>
                <td th:text="${vaca.bodyLength}"></td>
                <td th:text="${vaca.chestCircumference}"></td>
                <td th:text="${vaca.estimatedWeight}"></td>
                <td>
                    <a th:href="@{'/cows/edit/' + ${id}}">Editar</a>
                    <a th:href="@{'/cows/delete/' + ${id}}">Eliminar</a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <a href="/cows/new">Agregar nueva Vaca</a>
        </tfoot>
    </table>
</body>
</html>